<div class="search">
	<form id="J_searchForm" action="./list.html" method="get" onsubmit="return false">
		<div class="input">
			<input type="search" id="J_keyword" placeholder="请输入关键字" />
		</div>
		<div class="btn">
			<button type="submit" class="J_searchBtn iconfont icon-search"></button> 
		</div>
	</form>
</div>