<div class="search-row">
	<div class="tab-title">
		<p class="title">搜索：</p>
	</div>
	<div class="search-bar">
		<i class="iconfont icon-search"></i>
		<input type="text" id="J_search" placeholder="搜索手机" />
	</div>
</div>